/* Corey Baker 2014 */

html, body {
	background:#000000;
}

#banner {
	height:4em;
}

/* Headings and Headers */

.date,.gen-activities {
	color:#fff;
}

#wed-Picture {
	width: 100%;
}

#wed-Picture img {
	width:100%;
}


/* rows styling */
.row, #mapDiv {
	margin-top:4em;
}


/* Map styling */

#mapWrapper, #mapDiv {
	width:100%;
	margin:0;
	padding:0;
	height:12em;
}