/* Corey Baker 2014 */

html, body {
	background:#000000;
}

#banner {
	height:4em;
}

/* Headings and Headers */

.date,.gen-activities, .wed-site {
	color:#fff;
}

#wed-Picture {
	width: 100%;
}

#wed-Picture img {
	width:100%;
}

#heart {
	color:#E84F53;
}


/* rows styling */
.row, #mapDiv {
	margin-top:4em;
}

/* link styles */
.where-heading a {
	color:#E84F53;
}

.where-heading a:hover {
	color:#fff;
}

/* Map styling */

#mapWrapper, #mapDiv {
	width:100%;
	margin:0;
	padding:0;
	height:16em;
}